/*To set all the pages default margin and padding to o*/
*{
    margin: 0;
}

/*--------------------------------------------*/

.container{
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: Sans-serif;
}

.title{
    color: black;
    font-size: 72px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    opacity: 0.7;
}

.headerClass{
    height: 600px;
    background-image: url("../images/pic1.jpg");
    background-repeat: repeat;
    margin: -8px -8px 0px -8px;
    padding-top: 200px;
    margin-bottom: 60px;
}


a{
    color: black;
    padding-right: 10px;
    font-size: 20px;
    font-family: Sans-serif, serif;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.navbar{
    padding-top: 20px;
    padding-right: 30px;
    text-align: right;
}

.subtitle{
    padding-top: 20px;
    font-size: 20px;
    padding-left: 40px;
    font-family: Sans-serif;
    color: black;
}


.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    grid-gap: 30px;
}

.grid-item {
    /*background-color: #E8ADAA;*/
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    margin: 20px;
    border: 1px solid;
}

.grid-item:hover{
    background-color: grey;
    color: white;
}


.col{
    width: 47%;
    float: left;
}


table{
    text-align: center;
    border-collapse: collapse;
    width: 98%;
}

table, td, th{
    border:1px solid black;
}


div img{
    width: 350px;
    margin: auto;
}

footer div div img{
    width: 30px;
    opacity: 0.7;
    padding-right: 20px;
}

footer div div img:hover{
    opacity: 100%;
}

#footerImg{
    padding-left: 650px;
}


.footerClass{
    padding: 60px 20px;
    margin-bottom: 30px;
    background-color: pink;
}

#wpImg{
    width: 20px;
    padding-left: 780px;
    margin-bottom: 20px;
}




/*
*
------------------Projects-----------------------------------------------------------------
*
*/

.ProjectsheaderClass{
    height: 250px;
    background-image: url("../images/r.png"), url("../images/pink.png");
    background-blend-mode: overlay;
    background-repeat: repeat;
    /*margin: -8px -8px 0px -8px;*/
    padding-top: 150px;
    margin-bottom: 60px;
    background-color: pink;
}

.Projectstitle{
    color: black;
    font-size: 72px;
    text-align: left;
    background-color: white;
    opacity: 0.7;
    width: 45%;
    padding-left: 150px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: sans-serif;
}


.Cardheader{
    font-size: 40px;
}

.cardgrid{
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: #6E0161;
    border-radius: 10px;
    font-family: sans-serif;
    margin-bottom: 80px;
}


.card:hover{
    background-color: #3F0237;
}


.cardImg{
    width: 400px;
}

.col1{
    text-align: center;
    background-color: gold;
    padding: 40px;
}

.col2{
    color: white;
    padding: 50px;

}

.cardBtn{
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 15px 50px;
    margin-top: 30px;
}

.cardBtn:hover{
    background-color: black;
    color: white;
    opacity: 0.8;
    border-color: yellow;
}

.tecImg{
    width: 50px;
}




/**
*
*------------------Home Page-----------------------------------------
*
*/

.HomeheaderClass{
    height: 525px;
    background-image: url("../images/pink.png"), url("../images/Maneesha Lakshani.png");
    background-blend-mode: overlay;
    background-repeat: repeat;
    /*margin: -8px -8px 0px -8px;*/
    padding-top: 200px;
    margin-bottom: 60px;
}


.Hometitle1{
    color: white;
    font-size: 100px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
    background-color: navy;
    opacity: 0.3;
    width: 40%;
}

.Hometitle2{
    color: white;
    font-size: 100px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: navy;
    opacity: 0.3;
    width: 40%;
    padding-left: 200px;
    margin-left: 100px;
    margin-top: 40px
}

/*.HomeFooter{*/
/*    height: 300px;*/
/*    background-color: pink;*/
/*    margin-bottom: -10px;*/
/*    margin-left: -9px;*/
/*    margin-right: -8px;*/
/*    padding: 100px 150px;*/
/*    text-align: center;*/
/*}*/

.technology-div{
    padding: 0 400px;
    margin-bottom: 60px;
}

.tec-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*background-color: #3F0237;*/
}

.tec-item {
    /*background-color: #E8ADAA;*/
    border: none;
    padding: 20px 40px;
    text-align: center;

}

.technology-images{
    width: 100px;
}

.contact-button{
    text-align: center;
    width: 300px;
    padding: 20px 25px;
    border: black;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    opacity: 0.7;
    position:fixed;
    bottom: 50px;
    right: 200px;
}

.contact-button:hover{
    opacity: 100%;
    text-decoration: none;
}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;

    /*Make the .modal class parent class*/
    display: none;
    /* What happens with children */
    justify-content: center;
    align-items: center;
}

.contact-popup{
    background-color: #720666;
    color: #f1f1f1;
    border: 3px solid purple;
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    height: 300px;
    text-align: center;
    display: none;
    z-index: 9;

    /*the elements inside this class at relative to this class */
    position: relative;
}

.modal-image{
    width: 40px;
}

.model-elements{
    padding: 5px 0;
}

.modal-close-btn{
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer;

    /* Rotate + sign */
    transform: rotate(45deg);
}


/*
 **************************** Achievement Page **********************
 */

.achievement-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#achievement-title{
    color: #DCA6E0FF;
    font-size: 100px;
    font-family: Sans-serif, serif;
    padding: 25px 200px;
    background-color: navy;
    margin-bottom: 20px;
    width: 100%;
}

.col-fix{
    width: 30%;
    padding: 20px;
    /*background-color: red;*/
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    /*position: fixed;*/
}

.col-scroll {
    width: 70%;
    position: relative;
    padding: 20px 50px 0 0;
}

.row-achievement{
    display: flex;
    /*background-color: black;*/
    width: 100%;
}

.achievement-image{
    /*position: fixed;*/
    width: 250px;
    border-radius: 50%;
    margin-top: 150px;
}

#title-for-image{
    font-family: Sans-serif, serif;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    color: dimgrey;
}

.achievement-elements{
    font-size: 18px;
    margin: 30px 0;
    padding: 40px 0;
}

.elementH1{
    margin-bottom: 10px;
    background-color: rgb(220, 166, 224);
}